body {
    background: white;
    color: black;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    background: #ccc;
    padding: 0.5em;
}

.recent  { font-weight: bold; }
.ancient { color: #888; }

.fail { background: #e44; }
.pass { background: #5e5; }
.warn { background: #ff3; }

/* index and history listings */

.replist {
    border: solid 1px #eee;
}

.replist tr {
    border-left:  solid 1px #eee;
    border-right: solid 1px #eee;
}

.replist th {
    background: #ccc;
    border: solid 1px #eee;
}

.replist td {
    border: solid 1px #eee;
    padding: 0 0.5em;
}

.replist tr:nth-child(even) {
    background: white;
}

.replist tr:nth-child(odd) {
    background: #eee;
}

.replist tr:nth-child(even) td {
    border-color: #eee;
}

.replist tr:nth-child(odd) td {
    border-color: white;
}

.replist tr:nth-child(odd) td:first-child {
    border-left: solid 1px #eee;
}

.replist tr:nth-child(n) td:last-child {
    border: solid 1px #eee;
}

.replist tr:hover {
    background: #ddf;
}

.replist tr:hover td {
    border-color: white;
}

/* config summary */

#config td:first-child {
    font-weight: bold;
    padding-right: 3em;
    vertical-align: top;
}

/* test listing */

#tests {
    border: solid 1px #eee;
    margin-top: 2em;
    width: 100%;
}

#tests th {
    border: solid 1px #eee;
    text-align: left;
}

#tests td {
    border: solid 1px #eee;
    padding: 0 0.5em;
}

#tests .toggle {
    width: 5em;
    cursor: pointer;
    text-align: center;
}

#tests tr:only-child th {
    border: solid 1px #eee;
}

.diff {
    font-family: monospace;
    white-space: pre;
    display: none;
}

.diff-new {
    font-weight: bold;
    color: #262;
}

.diff-old {
    font-weight: bold;
    color: #622;
}

.diff-hnk {
    font-weight: bold;
    color: #226;
}

.diff-add {
    color: #262;
}

.diff-del {
    color: #622;
}
